.container {
  display: flex;

  div {
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    user-select: none;
    cursor: pointer;
    font-weight: 600;

    background: rgb(214, 212, 206);

    &:hover {
      background-image: linear-gradient(to right, rgb(204, 130, 69), gray);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .active {
    background-image: linear-gradient(to right, rgb(204, 130, 69), gray);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media screen and (min-width: 567px) and (max-width: 780px) {
  .container {
    font-size: normal;
  }
}

@media screen and (min-width: 372px) and (max-width: 568px) {
  .container {
    font-size: small;
  }
}
