.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 40px 0;
  position: relative;
  background-color: rgb(214, 212, 206);

  main {
    position: absolute;

    top: 10%;

    p {
      font-weight: 500;
      font-size: larger;
      text-align: justify;
      width: 95%;
    }
  }
}

@media screen and (max-width: 780px) {
  .container {
    min-height: 190vh;
    main {
      top: 7%;

      p {
        font-size: large;
      }
    }
  }
}
