.container {
  position: relative;
  background-color: rgb(214, 212, 206);
  min-height: 100vh;
  padding-bottom: 2px;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    padding: 8% 40px 0;

    .cards {
      margin: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 60px;
      align-items: center;
    }
    button {
      border: 1px solid grey;
      padding: 7px;

      &:hover {
        background-image: linear-gradient(to right, rgb(204, 130, 69), gray);

        color: #fff;
      }
    }
  }
}

@media screen and (min-width: 1755px) {
  .container {
    main {
      padding: 0% 40px 0;
    }
  }
}

@media screen and (min-width: 1333px) and (max-width: 1754px) {
  .container {
    main {
      padding: 10% 40px 0;
    }
  }
}

@media screen and (min-width: 567px) and (max-width: 780px) {
  .container {
    main {
      padding: 20% 40px 0;
      font-size: small;
    }
  }
}

@media screen and (min-width: 350px) and (max-width: 568px) {
  .container {
    main {
      padding: 20% 40px 0;
      font-size: small;
    }
  }
}
