.container {
  position: absolute;
  left: 25%;
  top: 10%;
  right: 25%;
  bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  Image {
    object-fit: contain;
  }
}

@media screen and (min-width: 781px) and (max-width: 1110px) {
  .container {
    top: 30%;
    bottom: 30%;
    left: 5%;
    right: 5%;
  }
}

@media screen and (min-width: 567px) and (max-width: 780px) {
  .container {
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
  }
}

@media screen and (min-width: 372px) and (max-width: 568px) {
  .container {
    top: 30%;
    bottom: 30%;
    left: 5%;
    right: 5%;
  }
}
