.nav {
  top: 0;
  left: 0px;
  right: 0px;
  z-index: 1000;
  user-select: none;
  position: relative;

  margin: 10px;
  background: transparent;
  border-radius: 10px;
  padding: 20px 30px;
  font-size: large;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 5px 2px rgba(151, 147, 137, 0.5);

  .logo {
    font-weight: 600;
  }
  .navLinks {
    display: flex;
    gap: 100px;
    cursor: pointer;

    .navLink {
      // font-weight: 600;

      transition: all 0.1s ease-in-out;

      &:hover {
        background-image: linear-gradient(to right, rgb(204, 130, 69), gray);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .cartIcon {
    width: 20px;
    height: 20px;
  }

  .cartNumber {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: x-small;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    background-image: linear-gradient(to right, rgb(204, 130, 69), gray);
    color: #fff;
  }

  .active {
    background-image: linear-gradient(to right, rgb(204, 130, 69), gray);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media screen and (min-width: 567px) and (max-width: 818px) {
  .nav {
    font-size: normal;
    padding: 15px 25px;

    .navLinks {
      gap: 40px;
    }
    .cartIcon {
      width: 20px;
      height: 20px;
    }
    .cartNumber {
      top: 25px;
      right: 25px;
    }
  }
}

@media screen and (min-width: 350px) and (max-width: 568px) {
  .nav {
    padding: 15px;
    font-size: small;

    .navLinks {
      gap: 16px;
    }

    .cartIcon {
      width: 15px;
      height: 15px;
    }

    .cartNumber {
      position: absolute;
      top: 23px;
      right: 15px;
      width: 8px;
      height: 8px;
      font-size: xx-small;
    }
  }
}
